*.aux
*.glo
*.idx
*.log
!logs/*log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*~
/thesis.pdf
*.swp
.Rproj.user
/Rplots.pdf
document/[1-9]_*tex
*.swp
*.swo
progress.png
.Rhistory
*.bcf
*.run.xml
~*
temp.*
document/*_*.docx
data/yelp
Thumbs.db
.RData
thesis.docx
*.gz
